# Virtual env
venv/
venv_bbmaster/

# Compiled python
*.pyc
build
dist
.eggs
*.egg-info
.DS_Store

# Vim temp files
*.swp

# Profiler files
*.prof

# pycharm temp files
*~
htmlcov/
.coverage
.idea

# dag extra files
*.log
*.err
*.out


# bilby files
*.distance_marginalization_lookup*
*.pickle
*.old


# result files
**.submit
bilby_pipe_sub/outdir_imbh_injection_pe/*
bilby_pipe_sub/outdir_imbh_injection/*
**/outdir*
imbh/tests/pe_test/*



*.submit
