h5py
tables==3.4.4
numpy==1.15.4
astropy==2.0.9
pluggy==0.12

argparse
bilby
bilby-pipe
deepdish
gwpy
hurry.filesize
lalsuite
matplotlib
opencv-python-headless
pandas
plotly
#black
#corner
#flake8
#flake8-bugbear
#isort
#pre-commit
#pycodestyle
scipy
theano
typing 
pesummary
