
argparse
astropy==5.3.3
bilby
bilby-pipe
deepdish
gwpy
h5py
hurry.filesize
lalsuite
matplotlib
numpy==1.15.4
opencv-python-headless
pandas
plotly
pluggy==0.12
pytest==2.8
#pesummary
scikit-learn
#black
#corner
#flake8
#flake8-bugbear
#isort
#pre-commit
#pycodestyle
scipy
tables==3.4.4
theano
typing
